﻿@model AdmissionSystem.ViewModels.ApplicationViewModel
@using AdmissionSystem.Models

@if (!User.IsInRole(RoleName.CanManage))
{
    <p>
        @Html.ActionLink("Create New", "CreateDetails", new { }, htmlAttributes: new { @class = "btn btn-default" })
    </p>
}
    <table class="table">
        <tr>
            <th>
                Qualification
            </th>
            <th>
                Year
            </th>
            <th>
                Duration
            </th>
            <th>
                Board University
            </th>
            <th>
                Subjects
            </th>
            <th>
                Percentage
            </th>
            @if (!User.IsInRole(RoleName.CanManage))
            {
                <th></th>
            }
            </tr>

        @foreach (var item in Model.EducationDetails)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Qualification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardUniversity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subjects)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Percentage)
        </td>
        @if (!User.IsInRole(RoleName.CanManage))
        {
            <td>
                @Html.ActionLink("Edit", "EditEducationDetails", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteEducationDetails", new { id = item.Id })
            </td>
        }
        </tr>
        }

    </table>
