﻿@model AdmissionSystem.ViewModels.ApplicationViewModel
@using AdmissionSystem.Models

@{
    ViewBag.Title = "Index";
}

<h2>Enclosed Documents</h2>

<p>
    @if (!User.IsInRole(RoleName.CanManage))
    {
        @Html.ActionLink("Add document", "CreateEnclosedDocuments")
    }
</p>
<table class="table">
    <tr>
        <th>
            Type
        </th>
        <th>
            Name
        </th>
        <th>
            File
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.EnclosedDocuments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("View document", "DownLoadFile", new { id = item.Id})
            </td>
        </tr>
    }

</table>
<div class="col-md-offset-2 col-md-10">
    @if (!User.IsInRole(RoleName.CanManage))
    {
        @Html.ActionLink("Finish Application", "FinishApplication", new { id = Model.ApplicationId }, htmlAttributes: new { @class = "btn btn-default" })
        @Html.ActionLink("Save Application", "SaveApplication", new { id = Model.ApplicationId }, htmlAttributes: new { @class = "btn btn-default" })
    }
    </div>