﻿@model AdmissionSystem.ViewModels.ApplicationViewModel
@using AdmissionSystem.Helpers
@using AdmissionSystem.Models

<div class="container">
    <div class="row">
        <div class="col mt-2">
            @using (Html.BeginForm("Edit", "Applications", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ApplicationId)
                    @Html.HiddenFor(model => model.Email)
                    @if (User.IsInRole(RoleName.CanManage))
                    {
                        @Html.HiddenFor(model => model.Photo)
                        @Html.HiddenFor(model => model.FirstName)
                        @Html.HiddenFor(model => model.LastName)
                        @Html.HiddenFor(model => model.TelePhoneNumber)
                        @Html.HiddenFor(model => model.DepartmentId)
                        @Html.HiddenFor(model => model.ProgramId)
                    }
                    else
                    {
                        @Html.HiddenFor(model => model.Status)
                    }
                    <div class="form-group">
                        @Html.LabelFor(model => model.ApplicationId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.ApplicationId, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.ApplicationId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @if (User.IsInRole(RoleName.CanManage))
                            {
                                <input type="file" name="Photo" accept="image/x-png,image/gif,image/jpeg " disabled="disabled" />
                            }
                            else
                            {
                                <input type="file" name="Photo" accept="image/x-png,image/gif,image/jpeg" />
                            }
                            <br />
                            <div class="img-thumbnail rounded ">
                                @if (Model.PhotoDb != null)
                                {
                                    @Html.GetThumbnail(Model.PhotoDb)
                                }
                            </div>
                            @Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @if (User.IsInRole(RoleName.CanManage))
                            {
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            }
                            else
                            {
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            }
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @if (User.IsInRole(RoleName.CanManage))
                            {
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            }
                            else
                            {
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            }
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.TelePhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @if (User.IsInRole(RoleName.CanManage))
                            {
                                @Html.EditorFor(model => model.TelePhoneNumber, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            }
                            else
                            {
                                @Html.EditorFor(model => model.TelePhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            }
                            @Html.ValidationMessageFor(model => model.TelePhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DepartmentId, "Department", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @if (User.IsInRole(RoleName.CanManage))
                            {
                                @Html.DropDownList("DepartmentId", null, htmlAttributes: new { @id = "DepartmentId", @class = "form-control", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.DropDownList("DepartmentId", null, htmlAttributes: new { @id = "DepartmentId", @class = "form-control" })
                            }
                            @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProgramId, "Program", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @if (User.IsInRole(RoleName.CanManage))
                            {
                                @Html.DropDownList("ProgramId", null, htmlAttributes: new { @id = "ProgramId", @class = "form-control", @disabled = "disabled" })
                            }
                            else
                            {
                                @Html.DropDownList("ProgramId", null, htmlAttributes: new { @id = "ProgramId", @class = "form-control" })
                            }
                            @Html.ValidationMessageFor(model => model.ProgramId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @if (User.IsInRole(RoleName.CanManage))
                            {
                                @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                            }
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6">
                            <input id="submitButton" type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
        
    </div>
</div>


