﻿@model AdmissionSystem.ViewModels.ApplicationViewModel
@using AdmissionSystem.Models

<br />

<ul id="tabstrip" class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#_PersonalInfo" role="tab" data-toggle="tab">Personal Informartion</a></li>
    <li><a href="#_EducationDetails" role="tab" data-toggle="tab">Education Details</a></li>
    <li><a href="#_EnclosedDocuments" role="tab" data-toggle="tab">Enclosed Documents</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="_PersonalInfo">
        @Html.Partial("_PersonalInfo", Model)
    </div>
    <div class="tab-pane fade" id="_EducationDetails">
        @Html.Partial("_EducationDetails", Model)
    </div>
    <div class="tab-pane fade" id="_EnclosedDocuments">
        @Html.Partial("_EnclosedDocuments", Model)
    </div>
</div>

@if (User.IsInRole(RoleName.CanManage))
{
    <div>@Html.ActionLink("Back to List", "Index")</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        setTimeout(function () {
            $('#flashmessage').fadeOut('fast');
        }, 3000);
    </script>

    <script>
        $(document).ready(function () {
            var selectedItemValue = $("#DepartmentId").val();
            var ddlPrograms = $("#ProgramId");
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetProgramsByDepartmentId", "Applications")',
                data: { "id": selectedItemValue },
                success: function (data) {
                    ddlPrograms.html('');
                    $.each(data, function (id, option) {
                         if (option.id == @ViewBag.ProgId) {
                            ddlPrograms.append($('<option></option>').val(option.id).html(option.name).prop("selected", "selected"));
                        }
                        else {
                            ddlPrograms.append($('<option></option>').val(option.id).html(option.name));
                        }
                    });
                }
            });
        });
        $("#DepartmentId").change(function () {
            var selectedItemValue = $(this).val();
            var ddlPrograms = $("#ProgramId");
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("GetProgramsByDepartmentId", "Applications")',
                data: { "id": selectedItemValue },
                success: function (data) {
                    ddlPrograms.html('');
                    $.each(data, function (id, option) {
                            ddlPrograms.append($('<option></option>').val(option.id).html(option.name));
                    });
                }
            });
        });
    </script>
}