﻿@model IEnumerable<AdmissionSystem.ViewModels.ApplicationViewModel>

<fieldset class="form-group border p-3">
    <legend class="w-auto px-2">Student Applications</legend>
    <div class="row">
        <div class="col-md-3">
            @using (Ajax.BeginForm("Index", "Applications", new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "grid" }))
            {
                <div class="input-group addon">
                    <div class="form-group">
                        <label for="ApplicationId">Application Id:</label>
                        <div class="col-md-10">
                            <input class="form-control" name="ApplicationIdFilter" type="text" value="@ViewBag.ApplicationIdFilter" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ApplicationId">Student Name:</label>
                        <div class="col-md-10">
                            <input class="form-control" name="StudentNameFilter" type="text" value="@ViewBag.StudentNameFilter" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ApplicationId">Status:</label>
                        <div class="col-md-10">
                            @Html.DropDownList("StatusFilter", null, htmlAttributes: new { @id = "StatusFilter", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="submitButton" type="submit" value="Search" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    </fieldset>
<div id="grid">@Html.Partial("_ApplicationsList", Model)</div>