﻿@model PagedList.IPagedList<MVCStudentRegistration.Models.Student>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="row">
    <div class="col-md-3">
        @using (Ajax.BeginForm("Index", "Students", new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "grid" }))
        {
            <div class="input-group addon">
                <input class="form-control" placeholder="student name" name="searchString" type="text" value="@ViewBag.CurrentFilter" />
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        }
    </div>
</div>

<div id="grid">
    @Html.Partial("_SearchList", Model)
</div>