﻿@model Blog.Models.AddCommentViewModel
@using (Html.BeginForm("Add", "Comments", FormMethod.Post))
{ 
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h2>Add a comment</h2>
        <div class="form-group">
            @Html.HiddenFor(m => m.PostId)
            @Html.TextAreaFor(m => m.Content, new { style = "min-width:100"})
            @Html.ValidationMessageFor(model => model.Content, "", new { })
        </div>
        <div class="form-group">
            <input type="submit" value="Add a comment" class="btn btn-default" />
        </div>
    </div>
}
