﻿@using PagedList
@using PagedList.Mvc
@using FinalExam.Helpers
@model IPagedList<FinalExam.Models.RunnerViewModelForList>

<table class="table">
    <tr>
        <th>
            @Ajax.ActionLink("Name", "Index", new { sortOrder = "name", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), currentFilter = ViewBag.CurrentFilter }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "grid", InsertionMode = InsertionMode.Replace })
            @Html.GetArrow((string)ViewBag.sortOrder, "name", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Gender", "Index", new { sortOrder = "gender", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), currentFilter = ViewBag.CurrentFilter }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "grid", InsertionMode = InsertionMode.Replace })
            @Html.GetArrow((string)ViewBag.sortOrder, "gender", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Email", "Index", new { sortOrder = "email", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), currentFilter = ViewBag.CurrentFilter }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "grid", InsertionMode = InsertionMode.Replace })
            @Html.GetArrow((string)ViewBag.sortOrder, "email", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Telephone", "Index", new { sortOrder = "telephone", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), currentFilter = ViewBag.CurrentFilter }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "grid", InsertionMode = InsertionMode.Replace })
            @Html.GetArrow((string)ViewBag.sortOrder, "telephone", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Event Name", "Index", new { sortOrder = "eventname", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), currentFilter = ViewBag.CurrentFilter }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "grid", InsertionMode = InsertionMode.Replace })
            @Html.GetArrow((string)ViewBag.sortOrder, "eventname", (string)ViewBag.sortDir)
        </th>
        <th>
            @Ajax.ActionLink("Event Status", "Index", new { sortOrder = "eventstatus", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), currentFilter = ViewBag.CurrentFilter }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "grid", InsertionMode = InsertionMode.Replace })
            @Html.GetArrow((string)ViewBag.sortOrder, "eventstatus", (string)ViewBag.sortDir)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RunnerId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RunnerId })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(
        Model,
        page => Url.Action("Index", new { page = page }),
        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "grid" })
    )

