﻿@using PagedList
@model IPagedList<FinalExam.Models.RunnerViewModelForList>
<h2>Runners</h2>
<p>@Html.ActionLink("Create New", "Create")</p>
<div class="row">
    <div class="col-md-3">
        @using (Ajax.BeginForm("Index", "Runners", new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "grid" }))
        {
            <div class="input-group addon">
                <input class="form-control" placeholder="Name" name="searchString" type="text" value="@ViewBag.CurrentFilter" />
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        }
    </div>
</div>
<div id="grid">@Html.Partial("_RunnersList", Model)</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script>
    $(document).ready(function () {
        var myHub = $.connection.myHub;
        myHub.client.updateClient = function () {
            $.ajax({
                cache: false,
                type: "GET",
                url: '/Runners',
                success: function (data) {
                    $('#grid').html(data);
                }
            });
        };
        $.connection.hub.start().done(function () { });
    });
    </script>
}

