﻿@model HomeInventoryExam.Models.HomeItem
@using HomeInventoryExam.Helpers

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HomeItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseInfo.Where)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseInfo.Where)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @if (Model.Photo != null)
            {
                @Html.GetThumbnail(Model.Photo)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseInfo.When)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseInfo.When)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseInfo.Where)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseInfo.Where)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseInfo.Warranty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseInfo.Warranty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseInfo.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseInfo.Price)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
