﻿@using HomeInventoryExam.Helpers;
@model IEnumerable<HomeInventoryExam.Models.HomeItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-md-3">
        @using (Html.BeginForm("Index", "HomeItems", FormMethod.Get))
        {
            <div class="input-group addon">
                <input class="form-control" placeholder="Description" name="searchString" type="text" value="@ViewBag.SearchString" />
                <button class="btn btn-default" type="submit">Search</button>
            </div>
        }
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.ActionLink("Description", "Index", new { sortOrder = "Description", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.SearchString })
            @Html.GetArrow((string)ViewBag.sortOrder, "Description", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.ActionLink("Location", "Index", new { sortOrder = "Location", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.SearchString })
            @Html.GetArrow((string)ViewBag.sortOrder, "Location", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.ActionLink("Model", "Index", new { sortOrder = "Model", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.SearchString })
            @Html.GetArrow((string)ViewBag.sortOrder, "Model", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.ActionLink("Serial Number", "Index", new { sortOrder = "SerialNumber", sortDir = string.IsNullOrEmpty(ViewBag.sortDir) ? "asc" : (ViewBag.sortDir == "asc" ? "desc" : "asc"), searchString = ViewBag.SearchString })
            @Html.GetArrow((string)ViewBag.sortOrder, "SerialNumber", (string)ViewBag.sortDir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseInfo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Photo != null)
                {
                    @Html.GetThumbnail(item.Photo)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.Partial("_PurchaseInfoDetails", item.PurchaseInfo)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.HomeItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.HomeItemId })
            </td>
        </tr>
    }

</table>
